<html>

<head>
    <title>Acteurs</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <link href="Style.CSS" type="text/css" rel="stylesheet" />
    <link href="css/homepage.css" type="text/css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('css/acteurs.css')}}" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav>
    <div class='container-fluid'>
        {# <img src="{{ asset('images/download.jpg')}}" alt="image"/>#}
        <div  id='icon'><img class="img-responsive" style="height: 55px;" src="{{ asset('images/LOGO(1).png')}}" alt="image logo"/></div>
        <ul>
            <li>
                <a href='{{  path('sf_web_app_cms_homepage') }}'>À propos</a>
            </li>
            <li>
                <a href="#">Acteurs</a>
            </li>
            <li>
                <a href='#'>Solutions et Services</a>
            </li>
            <li>
                <a href='#'>Forum</a>
            </li>
            <li>
                <a href='#'>Contact</a>
            </li>
        </ul>
    </div>
</nav>
<header>
    <div class='container-fluid'>
        <h1 class="text-responsive">Boostons l'éco-système<br/>&emsp;&emsp; agro-alimentaire</h1>
    </div>
</header>
<div id='nav-bg'></div>
<section id='about'>
    <h2>PLATEFORME</h2>
    <div class="container-fluid">
        <input type="radio" id="blue" name="color" />
        <label for="blue">ENTREPRISE</label>
        <input type="radio" id="red" name="color"/>
        <label for="red">STARTUP</label>
        <input type="radio" id="green" name="color"/>
        <label for="green">INCUBATEUR</label>
        <input type="radio" id="reset" name="color"/>
        <label for="reset">FACILITATEUR</label>

        <div class="tile blue">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Comparateur Agri</h2>
                            <h3>Startup</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <a href="{{  path('sf_web_app_cms_fichepage') }}" ><i class="btn fa fa-info-circle" aria-hidden="true"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="badgescard"> <span class="devicons devicons-django"></span><span class="devicons devicons-python"> </span><span class="devicons devicons-codepen"></span><span class="devicons devicons-javascript_badge"></span><span class="devicons devicons-gulp"></span><span class="devicons devicons-angular"></span><span class="devicons devicons-sass"> </span></div>
        </div>

        <div class="tile red">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Thomas Vendor</h2>
                            <h3>Symfony</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile red">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Bernard Dupont</h2>
                            <h3>PHP</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class=" btn fa fa-info-circle" aria-hidden="true">

                            </i>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile green">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Carolie Marchant</h2>
                            <h3>Ruby</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class=" btn fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile blue">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile red">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile red">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile green">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile blue">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class=" btn fa fa-info-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile green">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile red">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle text-right" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile green">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile blue">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile blue">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>

            </div></div>
        </div>
        <div class="tile green">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tile red">
            <div class="content ">
                <div class="card">
                    <div class="firstinfo"><img src="https://s3.amazonaws.com/uifaces/faces/twitter/mrvanz/128.jpg"/>
                        <div class="profileinfo">
                            <h2>Francesco Moustache</h2>
                            <h3>Python Ninja</h3>
                            <p class="bio">Lived all my life on the top of mount Fuji, learning the way to be a Ninja Dev.</p>
                            <i class="btn fa fa-comment-o" aria-hidden="true"></i>
                            <i class="btn fa fa-facebook-official" aria-hidden="true"></i>
                            <i class="btn fa fa-linkedin"></i>
                            <span class="btn glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            <i class="btn fa fa-info-circle" aria-hidden="true"></i>

                        </div>
                    </div>
                </div>
            </div>
    </div>
    </div>
</section>
<footer>
    <img class="img-responsive footer" src="{{ asset('images/footer.png')}}" alt="image logo"/>
</footer>
</body>

<script>

</script>

</html>





