<html>

<head>
    <title>Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />


    <link href="Style.CSS" type="text/css" rel="stylesheet" />
    <link href="css/homepage.css" type="text/css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('css/homepage.css')}}" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav>
    <div class='container-fluid'>
       {# <img src="{{ asset('images/download.jpg')}}" alt="image"/>#}
            <div  id='icon'>AGRI_STARTUP</div>
            <ul>
                <li>
                    <a href='#'>A propos</a>
                </li>
                <li>
                    <a href='#'>Acteurs</a>
                </li>
                <li>
                    <a href='#'>Solutions et Services</a>
                </li>
                <li>
                    <a href='#'>Forum</a>
                </li>
                <li>
                    <a href='#'>Contact</a>
                </li>
            </ul>
    </div>
</nav>
<header>
    <div class='container-fluid'>
        <h1>WE'RE CREATIVE DESIGNER</h1>
    </div>
</header>
<div id='nav-bg'></div>
<section id='about'>
    <div class='container content'>
        <div class="row">
            <div class="col-md-6">
                <h2>A propos</h2>
                <p>Raptim igitur properantes ut motus sui rumores celeritate nimia praevenirent, vigore corporum ac levitate confisi per flexuosas semitas ad summitates collium tardius evadebant. et cum superatis difficultatibus arduis ad supercilia venissent fluvii Melanis alti et verticosi, qui pro muro tuetur accolas circumfusus, augente nocte adulta terrorem quievere paulisper lucem opperientes. </p>
                <div class="button text-center"><button type="button" class="btn btn-danger">S'incrire</button></div>
            </div>
            <div class="col-md-6 content2">
                <section class="content">
                    <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        Unique Design</div>
                    <div class="content__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sequi eveniet eos quae rerum cupiditate non in dignissimos </p>
                    </div>
                </section>
                <section class="content">
                    <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        collapse head</div>
                    <div class="content__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sequi eveniet eos quae rerum cupiditate non in dignissimos</p>
                    </div>
                </section>
                <section class="content">
                    <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            </i>
                        collapse head</div>
                    <div class="content__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sequi eveniet eos quae rerum cupiditate non in dignissimos </p>
                    </div>
                </section>
                <section class="content">
                    <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        collapse head</div>
                    <div class="content__body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi sequi eveniet eos quae rerum cupiditate non in dignissimos corporis </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div class="container-fluid acteurs">
        <div class="row">
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cercle">
                            <img src="{{ asset('images/1.png')}}" alt="image facilateur"/>
                            <h3>ENTREPRISE</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  consectetur adipisicing elit. Quasi sequi eveniet eos quae </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cercle">
                            <img src="{{ asset('images/2.png')}}" alt="image facilateur"/>
                            <h3>STARTUP</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  consectetur adipisicing elit. Quasi sequi eveniet eos quae </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cercle">
                            <img src="{{ asset('images/3.png')}}" alt="image facilateur"/><h3>INCUBATEUR</h3>
                        </div>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  consectetur adipisicing elit. Quasi sequi eveniet eos quae </p>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cercle">
                            <img src="{{ asset('images/4.png')}}" alt="image facilateur"/>
                            <h3>FACILITATEUR</h3>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.  consectetur adipisicing elit. Quasi sequi eveniet eos quae </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container agenda">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">AGENDA</h2>
                <p class="text-center">Raptim igitur properantes ut motus sui rumores celeritate nimia praevenirent, vigore corporum ac levitate confisi per flexuosas semitas ad summitates collium tardius evadebant. et cum superatis difficultatibus arduis ad supercilia venissent fluvii Melanis alti et verticosi, qui pro muro tuetur accolas circumfusus, augente nocte adulta terrorem quievere paulisper lucem opperientes. </p>

            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12"> <img class="text-center" src="{{ asset('images/carousel.png')}}" alt="image facilateur"/></div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p>3468</p>
                <p>Projets Finished</p>
            </div>
            <div class="col-sm-3">
                <p>4638</p>
                <p>Happy Clients</p></div>
            <div class="col-sm-3">
                <p>3468</p>
                <p>Hours of work</p>
            </div>
            <div class="col-sm-3">
                <p>3468</p>
                <p>Cup of coffee</p>
            </div>


        </div>
    </div>
</section>

</body>

<script>
    var header = $('header');
    var range = 200;

    $(window).on('scroll', function () {

        var scrollTop = $(this).scrollTop();
        var offset = header.offset().top;
        var height = header.outerHeight();
        offset = offset + height / 2;
        var calc = 1 - (scrollTop - offset + range) / range;

        header.css({ 'opacity': calc });

        if ( calc > '1' ) {
            header.css({ 'opacity': 1 });
        } else if ( calc < '0' ) {
            header.css({ 'opacity': 0 });
        }

    });


    $('.content__head').click(function(){
        $(this).toggleClass('open');

        $(this).parent().find('.content__body').slideToggle('fast');

    });
</script>

</html>





