<html>

<head>
    <title>Accueil</title>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />


    <link href="Style.CSS" type="text/css" rel="stylesheet" />
    <link href="css/homepage.css" type="text/css" rel="stylesheet" />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="{{ asset('css/homepage.css')}}" rel="stylesheet">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav>
    <div class='container-fluid'>
       {# <img src="{{ asset('images/download.jpg')}}" alt="image"/>#}
            <div  id='icon'><img class="img-responsive" style="height: 75px;" src="{{ asset('images/LOGO(1).png')}}" alt="image logo"/></div>
            <ul>
                <li>
                    <a href='{{  path('sf_web_app_cms_homepage') }}'>À propos</a>
                </li>
                <li>
                    <a href='{{  path('sf_web_app_cms_acteurspage') }}'>Acteurs</a>
                </li>
                <li>
                    <a href='{{  path('sf_web_app_cms_homepage') }}'>Solutions et Services</a>
                </li>
                <li>
                    <a href='{{  path('sf_web_app_cms_homepage') }}'>Forum</a>
                </li>
                <li>
                    <a href='{{  path('sf_web_app_cms_homepage') }}'>Contact</a>
                </li>
            </ul>
    </div>
</nav>
<header>
    <div class='container-fluid'>
        <h1 class="text-responsive">Boostons l'éco-système<br/>&emsp;&emsp; agro-alimentaire</h1>
    </div>
</header>
<div id='nav-bg'></div>
    <section id='about'>
        <div class='container content'>
            <div class="row">
                <div class="col-md-12">
                    <h2>À propos</h2>
                </div>
                <div class="col-md-6">
                        <p class="text-rresonsive">Agroboost est LA market place de l’écosystème agricole et agroalimentaire. Ici la startup trouvera tous ce dont elle a besoin pour booster son développement. Agroboost accompagne les startups de cet écosystème : professionnalisation du discours, identification des avantages concurrentiel, réalisation de business plan, mise en relation ciblé avec les différents acteurs de l’écosystème… Agroboost permet aux entreprises, facilitateurs et incubateurs de proposer leurs services et de travailler avec les startups sur certains projets.  </p>
                        <p class="text-responsive">Boostons ensemble notre écosystème, rejoignez nous !   </p>
                        <div id="gridSystemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="gridModalLabel">Inscription</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid bd-example-row">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="Entreprise"></label>
                                                    <input type="text" class="form-control" id="email" placeholder="NOM DE L'ENTREPRISE">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="Email"></label>
                                                    <input type="text" class="form-control" id="email" placeholder="E-MAIL">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="Status"></label>
                                                    <input type="text" class="form-control" id="email" placeholder="STATUS">
                                                </div>
                                                <div class="col-xs-12 col-sm-6">
                                                    <label for="Password"></label>
                                                    <input type="password" class="form-control" id="password" placeholder="MOT DE PASSE">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary center-block">S'enregistrer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="bd-example bd-example-padded-bottom">
                        <button type="button" class="btn btn-danger center-block" data-toggle="modal" data-target="#gridSystemModal">
                            S'inscrire
                        </button>
                    </div>
                </div>
                <div class="col-md-6 content2">
                    <section class="content">
                        <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Inscription</div>
                        <div class="content__body">
                            <p> Simple et rapide</p>
                        </div>
                    </section>
                    <section class="content">
                        <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Profil type Linkedin</div>
                        <div class="content__body">
                            <p> À remplir à la carte respectant un grille de présentation connue de tous !</p>
                        </div>
                    </section>
                    <section class="content">
                        <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                </i>
                            Un accompagnement des startups</div>
                        <div class="content__body">
                            <p>Leur permet de se poser les bonnes question ! </p>
                        </div>
                    </section>
                    <section class="content">
                        <div class="content__head"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            Mises en relation</div>
                        <div class="content__body">
                            <p>Orientées par correspondance du profil des acteurs.</p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="container-fluid acteurs">
            <div class="row">
                <div class="col-sm-12"> <img class="img-responsive" src="{{ asset('images/forces.png')}}" alt="image facilateur"/></div>
            </div>
        </div>
        <div class="container agenda">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="text-responsive">AGENDA</h2>
                    <div class="trait"></div>
                    <p class="text-responsive">Raptim igitur properantes ut motus sui rumores celeritate nimia praevenirent, vigore corporum ac levitate confisi per flexuosas semitas ad summitates collium tardius evadebant. et cum superatis difficultatibus arduis ad supercilia venissent fluvii Melanis alti et verticosi, qui pro muro tuetur accolas circumfusus, augente nocte adulta terrorem quievere paulisper lucem opperientes. </p>
                </div>
            </div>
        </div>
        <div class="container-fluid carousel">
            <div class="row">
                <div class="col-sm-12"> <img class="img-responsive" src="{{ asset('images/carousel.png')}}" alt="image facilateur"/></div>
            </div>
        </div>
        <div class="container-fluid chiffre">
            <div class="row">
                <div class="col-sm-4">
                    <h4>+37% </h4>
                    <div class="trait"></div>
                    <p>Croissance du chiffre d’affaires des startups françaises du numérique sur la période 2013-2014</p>
                </div>
                <div class="col-sm-4">
                    <h4>4638</h4>
                    <div class="trait"></div>
                    <p>La première cause d’échec des startups c’est de ne pas cibler un «besoin du marché ».</p></div>
                <div class="col-sm-4">
                    <h4>+ 110%</h4>
                    <div class="trait"></div>
                    <p>Augmentation de l’utilisation des applis professionnelles par les agriculteurs </p>
                </div>
            </div>
        </div>
    </section>
<footer>
    <img class="img-responsive footer" src="{{ asset('images/footer.png')}}" alt="image logo"/>
</footer>
</body>

<script>
    var header = $('header');
    var range = 200;

    $(window).on('scroll', function () {

        var scrollTop = $(this).scrollTop();
        var offset = header.offset().top;
        var height = header.outerHeight();
        offset = offset + height / 2;
        var calc = 1 - (scrollTop - offset + range) / range;

        header.css({ 'opacity': calc });

        if ( calc > '1' ) {
            header.css({ 'opacity': 1 });
        } else if ( calc < '0' ) {
            header.css({ 'opacity': 0 });
        }

    });


    $('.content__head').click(function(){
        $(this).toggleClass('open');

        $(this).parent().find('.content__body').slideToggle('fast');

    });
</script>

</html>





